/* Utilidades personalizadas que complementan Tailwind */

/* Submenu styles */
.submenu {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  transition: opacity 400ms ease-in;
}

.submenu.active {
  display: block;
  z-index: 50;
}

.main-menu-more {
  width: 35%;
  height: 100vh;
  padding-left: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  background-color: #fff;
  color: var(--primary-color);
}

.main-menu-more span {
  background-color: var(--background-color);
  padding: 1rem;
}

.main-menu-more-items {
  padding-bottom: 1rem;
  border-bottom: thin solid var(--primary-color);
}

.main-menu-more-items p {
  display: block;
  padding: 0.5rem;
}

.main-menu-more-items p:hover {
  background-color: #ccc;
}

#close-menu-more {
  position: absolute;
  left: 37vw;
  top: 1rem;
  background-color: transparent;
  color: var(--dorade-color);
  background: var(--secondary-color);
  border: none;
  padding: 0.3rem 0.4rem;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 2px 0.1rem var(--dorade-color);
  border-radius: 30%;
  appearance: none;
}
