/* Estilos para las recomendaciones */
.recomendations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3vh 0;
  padding: 0.25rem;
  border-top: thin solid slategray;
}

#identificate {
  font-size: initial;
  width: 10rem;
  color: rgb(0, 113, 133);
  display: inline-block;
  text-align: center;
  border: 2px solid rgb(0, 113, 133);
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.link {
  color: rgb(0, 113, 133);
}

.link:hover {
  text-decoration: underline;
}
