.current-selection{
    margin-left: 1rem;
}
.current-product{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-evenly;
}
.img-box {
    width: 30vw;
}

.img-box img{
    width: 100%;
}

.current-product figcaption{
    position: absolute;
    left: 60vw;
    size: 2em;
    font-weight: bold;
}

.current-product > *{
    border: thin solid brown;
    padding: 1rem;
}

.current-product > :not(figure){
    
}