.current-selection{
    margin-left: 1rem;
}
.current-product{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-evenly;
}
.img-box {
    width: 30vw;
}

.img-box img{
    width: 100%;
}

.current-product figcaption{
    position: absolute;
    left: 60vw;
    size: 2em;
    font-weight: bold;
}

.current-product > *{
    /* border: thin solid brown; */
    padding: 1rem;
}

.current-product > :not(figure){
    
}

.informationProduct h3{
    border-bottom: thin solid #222;
}

.product-cost{
    font-weight: bold;
}

.product-cost span {
    font-weight: normal;
}


.more-about-product{
    border: thin solid #444444;
    border-radius: 5%;
    width: 20vw;
    position: relative;
    top: 5vh;
}

.more-about-product button{
    width: 15rem;
    padding: 0.25rem;
    margin-bottom: 0.25rem;
}
